{% extends "header.html" %}
{% load static %}
{% block header %}
<header>
    <div id="logo">
        <a href="/home" class="a"><img src="{% static 'images/logo.jpg'%}" class="logo_img"></a>
        <a href="/home" class="a"><h3 class="h3">Online Food Ordering System</h3></a>
    </div>
    <nav>
        <ul>
            <li class="nav-item"><a href="/home" >Home</a></li>

        </ul>
    </nav>

</header>
{% endblock %}
{% block content %}
<head>
<style>
 p{
  font-size: larger;
  padding: 40px;
 }
</style>
</head>
<body>
 <div>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Quisquam quos consequatur consectetur minima similique! Enim corporis,
     iste labore, possimus, excepturi in distinctio similique dicta officiis
      dolor tenetur ab cupiditate inventore.</p>
 </div>
</body>


{% endblock content %}